.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.origin, .destination {
  width: 47%;
  margin-right: 15px;
  float: left;
}

.date {
  width: 47%;
  margin-right: 15px;
  margin-top: 25px;
  float: left;
}

  .submit {
    float: right;
    margin-right: 24px;
  }

.tripContainer {
  background-color: aliceblue;
  border:1px solid rgba(128, 128, 128, 0.4);
  border-radius: 5px;
}

.logo {
  font-size:18px;
  font-weight: bold;
  font-family: fantasy;
  font-style: oblique;
  padding: 20px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}



