.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-image: url('/images/plan-your-trip.jpg');
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.origin, .destination {
  width: 47%;
  margin-right: 15px;
  float: left;
}

.date {
  width: 47%;
  margin-right: 15px;
  margin-top: 25px;
  float: left;
}

  .submit {
    float: right;
    margin-right: 24px;
  }

.tripContainer {
  background-color: aliceblue;
  border:1px solid rgba(128, 128, 128, 0.4);
  border-radius: 5px;
}

.logo {
 font-size: 42px;
 font-weight: bold;
 font-family: fantasy;
 font-style: oblique;
 padding: 30px;
 text-align: center;
}

 .stop  {
  clear: both;
 }

.origin input, .stop input, .date input, .destination input, .table input {
  border: 1px solid grey;
  border-radius: 3px;
  font-style: italic !important;
  font-family: monospace;
  color: rgb(197,17,98);
  font-weight: bolder;
  width: 100px;
  text-align: center;
  text-transform: capitalize;
}

.md-autocomplete-suggestions li {
  font-style: italic !important;
  font-family: monospace;
  color: rgb(197,17,98);
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
}

.textEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableHeading {
    font-weight: bolder;
    font-style: italic;
    font-family: -webkit-pictograph;
  }

.md-button.md-hue-1.md-warn {
  background-color: black;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (max-width: 560px) {
 .form-container {
  width:100%;
 }

.table {
  width:85%;
  margin: 0 auto;
}
.table input {
font-size: 12px;
}

.origin, .destination {
  width: 35%;
  margin-right: 60px;
  float: left;
}

.date {
  width: 40%;
  margin-right: 15px;
  margin-top: 25px;
  float: left;
}

.stopNo, .startDate, .endDate {
  display:none;
}
.addDel {
  width: 100px;
  font-size: 11px;
}
}
@media screen and (max-width: 470px) {
.form-container {
  width:100%;
 }

  .origin, .destination {
  width: 95%;
  margin-right: 60px;
  margin-bottom: 20px;
  float: left;
}

.date {
  width: 80%;
  margin-right: 45px;
  margin-top: 25px;
  float: left;
}

.textEllipsis {
  font-size: 11px;
  }
.table {
  width:100%;
  margin: 0 auto;
}
.table input {
font-size: 11px;
}
}


